<h2>Today's Notes</h2>
<div class="notice"><%= flash[:notice] %></div>
<ul>
    <% @notes.each do |note| %>
        <li>
            <%= link_to note.content, note_path(note) %>
        </li>
    <%end%>
</ul>
<%= link_to "New", new_note_path%>