<div class="month">
<%= month_calendar do |date| %>
    <strong><%= date.day %></strong>
    <p><%@notes.each do |note|%>
        <%if note.due.year == date.year && note.due.month == date.month && note.due.day == date.day%>
            <%= note.content %>
        <% end %>
    <% end %>
    </p>
<% end %>
</div>