<div class="week">
    <%= week_calendar number_of_weeks: 1 do |date|%>
        <strong ><%= date.day %></strong>
        <ul>
            <%@notes.each do |note|%>
                <%if note.due.year == date.year && note.due.month == date.month && note.due.day == date.day%>
                    <li class="<%=note.note_type%>">
                        <%= note.content %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    <% end %>
</div>