div.sidebar {
    position: absolute;
    margin-left: 82%;
    background-color: #4357AD;
    font-size: 15px;
    padding: 5px;
    margin-top: 50px;
    padding: 20px;
}

div.sidebar a {
    color: #F9F5FF;
}

div.sidebar > ul {
    list-style: none;
    text-align: right;
}

div.left-bar {
    position: absolute;
    margin-top: 75px;
    background-color: #FDE8E9;
    padding: 20px;
}

div.left-bar a {
    color: #4357AD;
}

div.index {
    margin-left: 20%;
    font-size: 17px;
}

div.index a {
    color: #4357AD;
}

div.month {
     background-color: #F18701;
     font-size: 17px;
     width: 770px;
     text-align: left;
     margin: 0 auto;
     margin-top: 50px;
     color: #28262C;
}

div.habitMonth {
    width: 770px;
    margin: 0 auto;
    font-size: 17px;
    margin-top: 50px;
    color: #28262C;
    background-color: #FDE8E9;
}

div.editMonth {
    width: 770px;
    margin: 0 auto;
    font-size: 17px;
    margin-top: 50px;
    color: #28262C;
    background-color: #FDE8E9;
    text-align: right;
}

div.editMonth .table-striped > tbody >tr {
    height: 20px;
}

div.box {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: inline-block;
}

div.red {
    background-color: red;
}

div.orange {
    background-color: orange;
}

div.yellow {
    background-color: yellow;
}

div.green {
    background-color: green;
}

div.blue {
    background-color: blue;
}

div.purple {
    background-color: purple;
}

div.week {
    background-color: #F18701;
    font-size: 17px;
    width: 800px;
    padding: 0px 20px 100px;
    margin: 0 auto;
    color: #28262C;
    margin-top: 20px;
}

div.week a {
    color: #4357AD;
}

input[type=checkbox] {
    transform: scale(1.5);
}

div.week > .table-striped > tr {
    height: 100px;
}

div.header {
    background-color: #4357AD;
    color: #F9F5FF;
}

div.header a {
    color: #F9F5FF;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F3EFF5;
 }

.table-striped > tbody >tr {
     height: 120px;
}

.table-striped > tbody > tr > td {
     width: 200px;
     font-size: 15px;
}

body {
    background-color: #F9F5FF;
}

span.true {
    text-decoration: line-through;
}

.field {
    margin: 0, auto;
    text-align: right;
    padding: 2px;
    margin-right: 25%;
}

h1, h3 {
    text-align: center;
}

h1 {
    margin-top: 20%;
}

ul.notes {
    font-size: 20px;
}

li.event {
    list-style-type: circle;
}

li.note {
    list-style-type: square;
}

p#content {
    font-size: 20px;
}

ul.habit-list {
    list-style: none;
}

.new {
    margin-left: 100px;
    font-size: 15px;
}