<div class="index">
    <h2>All Habits</h2>
    <ul class="habit-list">
        <% @habits.each do |habit| %>
            <li>
                <span>
                <div class="box <%=habit.color%>"></div>
                <%= link_to habit.name, habit_path(habit) %>
                </span>
            </li>
        <%end%>
    </ul>
    <%= link_to 'New Habit', new_habit_path %>
</div>