<div class="habitMonth">
    <%= month_calendar do |date|%>
        <%= date.day %>
        <% @habits.each do |habit|%>
            <% habit.dates.each do |hd| %>
                <% if hd == date %>
                    <div class="<%=habit.color%>"></div>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

</div>